.container{
    position: relative;
    background-color: #C4C4C4;
    width: 645px;
    height: 94vh;
    top: 3vh;
    margin: auto;
    border: solid 1px white;
    border-radius: 13px;
    box-shadow: 9px 12px 20px 1px rgba(0, 0, 0, 0.25),
                -9px -12px 20px 1px rgba(255, 255, 255, 0.25);
}

.setTimeButtonsContainer{
    display: flex;
    justify-content: space-evenly;
}

.setTimeButton{
    width: 110px;
    height: 44px;
    border-radius: 34px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5),
                -5px -5px 12px rgba(255, 255, 255, 0.5);
    border: solid 1px white;
    font-family: Rubik;
    color: #5A5A5A;
    font-size: 30px;
    background-color: #C4C4C4;
}
